article{
    width: 360px;
    height: 457px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-family: tahoma;
    font-size: 20px;
}
a:hover{
    color:blue;
}
img{
    width: 360px;
    transition: 1s;

}
p{
    text-align: justify;
}